---
plugins:
  - "react"
env: {
    es6: true
}
parserOptions: {
    sourceType: "module",
    ecmaFeatures: {
        jsx: true
    }
}
rules:
  valid-jsdoc: [2, { "requireReturn": false }]
  'react/jsx-uses-react': [1]
