# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Testing

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: npm run lint
            - run: npm test
            - name: Build fixture
              run: npm run func:build
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
                  destination_dir: ${FUNC_PATH}
                  publish_dir: ./tests/functional/dist
              env:
                  FUNC_PATH: 'dist/${GITHUB_WORKFLOW}/${GITHUB_JOB}/${GITHUB_RUN_NUMBER}'
            # - run: |
            #       git remote set-url origin https://git:${GH_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
            #       npm run func:build
            #       npx gh-pages -d tests/functional/dist -e ${FUNC_PATH} -u "github-actions-bot <support+actions@github.com>"
            #       npm run func -- --baseUrl http://yahoo.github.io/
            #       # clean up files by replacing fixtures with readme
            #       npx gh-pages -d . -s README.md -u "github-actions-bot <support+actions@github.com>"
            #   env:
            #       FUNC_PATH: 'dist/${GITHUB_WORKFLOW}/${GITHUB_JOB}/${GITHUB_RUN_NUMBER}'
            #       GH_TOKEN: ${{ secrets.GH_TOKEN }}
            #       SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
            #       SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
